<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">

        <li class="">
            <a href="/">
            <i class="fa fa-dashboard"></i> <span>Deshboard</span>
            </a>
        </li>

        <li class="">
            <a href="/customers">
            <i class="fa fa-users"></i> <span>Manage Customers</span>
            </a>
        </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>